body {
    margin: 0px;
    font-family: sans-serif;
    /* background-color: rgb(175, 244, 244); */
}
/* ------------------------------body header---------------------------- */
#body-header {
    height: 65vh;
    background-image: url(images/macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    background-attachment: fixed;
    /* padding-top: 1.2rem; */
}
#body-header a i { 
    display: block; /* Ensure all are displayed by default */ 
} 
#body-header > a:first-of-type i { 
    display: none; /* Hide the first instance */
}
/* -----------------------------navigation bar----------------------- */
.horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}
.horizontal-list li {
    display: inline-block;
    margin: 20px 10px 10px 0px;
}
.horizontal-list li a {
    color: white;
    text-decoration: none;
    margin: 0px 10px;
    transition: color 0.5s;
}
#nav{
    padding-top: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-menu li a:hover {
    color: aquamarine;
    /* text-decoration: underline; */
    border-bottom: 1px solid aquamarine;
}
.text-center {
    text-align: center;
}
/* ---------------------------- Header------------------------------------ */
#name-social-container {
    margin-top: 10vh;
}
#my-name {
    font-size: 3rem;
    color: white;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
}
.social-icons li a i{
    font-size: 1rem;
    padding: 10px;
    border-radius: 50%;
}
.social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px aquamarine;
}

section {
    width: 100%;
    /* height: 75px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
section:nth-child(2n) {
    background-color: #9e9b9b29;
}

section:nth-child(2n + 1) {
    background-color: white;
}

/* ----------------------------------About----------------------------------- */
#about {
    height: auto;
    width: 100%;
    position: relative;
}
#my-image {
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -17vh;
}
#my-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 4px white;
}
#about-para {
    padding: 10px;
    width: 70%;
    height: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-weight: 100;
    font-size: 1.1rem;
}
/* ---------------------------------Skills------------------------------------- */
.section-heading{
    width: auto;
    padding: 20px 10px 10px;
    margin: 10px auto;
    font-weight: 400;
}
.section-heading span{
    font-size: 30px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}
.skills-display {
    width: 70%;
    height: 100px;
    /*border: 2px solid black; 	*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.skill-progress{
    width: 7rem;
    height: 1.4rem;
    background-color: lightgrey;
    border-radius: 0.8rem;
    margin-right: 70px;
}
.skill-progress div{
    border-radius: 20px 0 0 20px;
}
.skill-name span{
    color: white;
    font-size: 1rem;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
}
/* Common Margin Classes */
.mb75px {
    margin-bottom: 75px;
}

/*common color classes */

.text-highlight {
    color: #2857a4;
    font-weight: 600;

}
.mb-blue{
    background-color: #2857a4;
}
.eighty-five-percent{
    width: 85%;
    height: inherit; /*inheriting the height of parent class. */
}
.mb-orange{
    background-color: orange;
}
.mb-green{
    background-color: green;
}
.sixty-five-percent{
    width: 65%;
    height: inherit;
}
.forty-five-percent{
    width: 45%;
    height: inherit;
}
.ninety-percent{
    width: 90%;
    height: inherit;
}

/*----------------------------------------Experience-----------------------------------*/
.timeline{
    position: relative;
    width: 75%;
    /* border: 2px solid black; */
}
.timeline-box{
    position: relative;
    width: 40%;
    min-height: 150px;
    left: 5%;
    margin: 5px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 0 5px #616364;
    border-radius: 0.8rem;
}
.timeline-box:nth-child(2n){
    left: 53%;
}
.timeline-box:nth-child(2n+1){
    text-align: right;
}
.timeline-box h3{
    color: #2857a4;
}
.timeline-box h4:nth-child(2){
    color: rgb(206, 141, 22);
}
.timeline-box h3, .timeline-box h4{
    margin:10px;
}
.timeline-box:nth-child(2n+1)::after{
    content:'';
    position: absolute;
    top: 10%;
    left: 110%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: grey;
    z-index: 1;
}
.timeline-box:nth-child(2n)::after{
    content:'';
    position: absolute;
    top: 10%;
    left: -10%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: grey;
    z-index: 1;
}
.timeline-divider{
    position: absolute;
    height: 75%;
    width: 0;
    border: 2px dashed #0096fa6b;
    top: 5%;
    left: 50%;
}
.timeline-traveller{
    position: sticky;
    top: 15%;
    transform: rotate(90deg);
    font-size: 25px;
    z-index: 2;
}

/* ---------------------------------------Portfolio----------------------------------- */
#portfolio-display {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 2%;
    justify-content: space-around;
}

.portfolio-image {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 10px;
    position: relative;
}

.portfolio-image img {
    width: 100%;
    height: auto;
    display: block;
}
.portfolio-details {

    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    box-sizing: border-box;

}
.portfolio-image:hover {
    box-shadow: 0 0 20px #668fa3;
}

.portfolio-image:hover .portfolio-details {
    background-color: #2f2b2b78;
    /* display: block; */
    color: white;
    align-items: center;

}
/*---------------------------------------------Contact-------------------------------------------*/
#contact {

    background-color: #0abcf9;
    background-image: linear-gradient(50deg, #2857a4 0%, #403066 74%);

    color: white;
    padding-bottom: 40px;
}

#contact h1,
#contact h1 span {
    color: white;
}

#contact-form {
    margin-left: 20%;
}

#contact-container {
    display: flex;
}

#my-details-container {
    width: 35%;
    margin-left: 6%;
}

#my-details-container h3 {
    color: white;
    font-weight: 550;
    font-size: 1.2rem;
}

#contact-form-container {
    width: 50%;
}

#my-details-container p {
    color: #d9dcdd;
    font-size: 0.9rem;
}

.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
}

.my-details-info-container span {
    margin-left: 0.4rem;
    font-size: 0.95rem;
}

.my-details-info-container i {
    color: white;
}

.my-details-icon {
    width: 1rem;
    height: 1rem;
    vertical-align: bottom;
    margin-right: 0.5rem;
}


#contact-form input,
textarea {
    max-width: 90%;
    margin: 15px;
    padding: 4px 10px;
    border: 0px solid transparent;
    border-bottom: 2px solid white;
    color: var(--contact-light-text-color);
    background: transparent;
    width: 90%;
    line-height: 1.6;
    font-size: 1.05rem;
}



#contact-form button[type="submit"] {
    background: transparent;
    /*#1a1a1a;*/
    font-size: 0.95rem;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.8em 0.8em 0.78em;
    text-transform: uppercase;
}

#contact-form button:hover {
    background: white;
    color: #13386fe0;
}

#contact .social-icons li a i {

    font-size: 1.2rem;
    margin: 40px 10px 10px;
    padding: 10px 14px 20px 10px;

}


/*--------------------------------------breakpoints--------------------------------*/
@media screen and (max-width: 768px){
    #name-social-container{
        margin-top: 10vh;
    }
    .timeline-divider{
        left: 5%;
    }
    .timeline-box:nth-child(2n+1){
        left: 8%;
        margin-bottom: 10px;
        width: 80%;
        text-align: left;
    }
    .timeline-box:nth-child(2n){
        left: 8%;
        margin-bottom: 10px;
        width: 80%;
    }
    .timeline-box:nth-child(2n+1)::after{
        left: -5.8%;
    }
    .timeline-box:nth-child(2n)::after{
        left: -5.8%;
    }
    #contact-container{
        display: block;
    }
    #contact-form-container {
        width: 85%;
    }
    #contact-form{
        margin-left: 15%;
    }
    #my-details-container {
        width: 70%;
        margin-left: 15%;
    }
}

@media screen and (max-width: 517px){
    #name-social-container{
        margin-top: 1vh;
    }
    .section-heading{
        margin-bottom: 20px;
    }
    .skills-display { 
        height: auto;
        justify-content: center;
    } 
    .skill-progress {
        margin: 10px auto;
    }
    #nav{
        position: fixed;
        flex-direction: column;
        left: 75%;
        top: 2.5%;
        height: 0;
        overflow: hidden;
        visibility: hidden;
        transition: all 2s ease-in-out;
    }
    #body-header > a:first-of-type i{
        position: relative;
        display: inline-flex;
        left: 90%;
        top: 5%;
        font-size: 2rem;
        color: white;
    }
    #nav:target{
        height: auto;
        max-height: 40%;
        width: 30%;
        top: 6%;
        left:70%;
        background-color: rgba(66, 66, 66, 0.473);
        visibility: visible;
    }
}